AddDefaultCharset UTF-8
<IfModule mod_headers.c>
        Header append Cache-Control "no-store, no-cache, must-revalidate"
</IfModule>
<IfModule mod_expires.c>
        ExpiresActive On ExpiresDefault "now"
</IfModule>
ErrorDocument 404 /403_404.htm
ErrorDocument 403 /403_404.htm
